/*******************************************************************/
/* show the device message to rotate phone */
@media only screen and (orientation: portrait) {
    body {
        background-color: #000;
    }

    .no-portrait {
        display: none;
    }

    .device-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
}

/*******************************************************************/
/* overlay */
/* @media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} */

/*******************************************************************/
/* hide menu on mobile landscape */
@media only screen and (orientation: landscape) and (max-width: 860px) {
    .device-message {
        display: none;
    }

    .title-logo {
        margin-top: 0px;
    }

    .action-icon  {
        -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
        transform: scale(.6);
    }  

    #actionIconRow>div  {
        margin: -5px;
    }

    #waitingForPlayer {
        font-size: .7em;
    }

    .modal {
        padding-top: 25px;
    }

    .modal-content {
        font-size: .9em;
    }

    button {
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 5px #999;
    }

    button:active {
        box-shadow: 0 3px #666;
        transform: translateY(2px);
    }

    #twoPlayerModalContent input {
        width: 100px;
        padding: 4px 7px;
        font-size: 1em;
    }

    .game-piece {
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4);
    }

    #loginViewport {
        width: 100vw;
    }
}